.third-section-content {
    width: 100%;
    background-color: #001632;
    padding: 100px 0px;
    text-align: center;
    color: #ffff;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.third-section-content .content-title h1 {
    width: 50%;
    margin: auto;
    line-height: normal;
}

.content-description {
    width: 50%;
    margin: auto;
}

.content-details {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.content-description span {
    font-size: 1.2em;
    color: #fff;
}

.content-details {
    display: flex;
    justify-content: left;
}

.content-details .left-details,
.right-details {
    flex: 1;
}

.left-details {
    text-align: left;
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.item {
    display: flex;
}

.item-details h4 {
    color: #26a1ff;
}

.item-details span {
    color: #fff;
}

.item-image {
    flex: 0.5;
    width: 40px;
    height: 40px;
}

.item-image img {
    width: 100%;
}

.item-details {
    flex: 6.5;
    margin-left: 20px;
}

.right-details img {
    width: 70%;
}
