.navbar-content {
    width: 100%;
    padding: 0 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

a {
    padding: 25px 15px;
    color: black;
    border-bottom: 2px solid #fff;
}

a.active {
    background-color: var(--blue-1);
    border-bottom: 2px solid var(--blue-2);
}

a:hover {
    background-color: var(--blue-1);
    border-bottom: 2px solid var(--blue-2);
}

.content-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-logo {
    padding: 10px;
    color: var(--blue-2);
}

.item-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-buttons {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
