.navbar-content {
    width: 100%;
    padding: 0 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbar-content a {
    padding: 25px 15px;
    color: black;
    border-bottom: 2px solid #fff;
}

.navbar-content a.active {
    background-color: var(--blue-1);
    border-bottom: 2px solid var(--blue-2);
}

.navbar-content a:hover {
    background-color: var(--blue-1);
    border-bottom: 2px solid var(--blue-2);
}

/* .content-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar-content .item-logo {
    flex: 0.5;
    padding: 10px;
    color: var(--blue-2);
}

.navbar-content .item-links {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar-content .item-buttons {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.navbar-content .item-buttons button {
    width: 25%;
}
